<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla y Modal de Alumnos</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/matriz.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <link rel="stylesheet" href="/assets/css/btn.css">
    <link rel="stylesheet" href="/assets/css/tablas.css">
</head>
<body>

    <div class="container-busqueda">
        <div class="buscador-container">
            <input class="buscador" type="text" id="searchInput" placeholder="Buscar alumno..." />
        </div>

        <div class="filtro-container">
            <select class="filtro" id="grado">
            <option value="">Todos</option>
            <option value="1°">1°</option>
            <option value="2°">2°</option>
            <option value="3°">3°</option>
            </select>
        </div>
    </div>

<table id="alumnosTable" class="tabla">
<thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Legajo</th>
        <th>Grado</th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
    <!--  Se rellena la tabla desde la DB  -->
</tbody>
</table>

<!-- Modal -->
<div id="modalAlumno" class="modal">
<div class="modal-content">
    <span class="close-btn" onclick="cerrarModal()">&times;</span>
    <div class="perfil-container">
    <div class="perfil-info">
        <div class="perfil-seccion"></div>
        <table class="perfil-tabla">
        <thead>
            <th colspan="5">DATOS DEL ALUMNO</th>
        </thead>
        <tr>
            <td>Nombre</td>
            <td></td>
            <td>Apellidos</td>
            <td></td>
            <td rowspan="8">pdf</td>
        </tr>
        <tr></tr>
        <tr>
            <td>Fecha nacimiento</td>
            <td></td>
            <td>Numero legajo</td>
            <td></td>
        </tr>
        <tr></tr>
        <tr>
            <td>N° dni</td>
            <td></td>
            <td>Tutor</td>
            <td></td>
        </tr>
        <tr></tr>
        <tr>
            <td>Correo electronico</td>
            <td></td>
            <td>Telefono movil</td>
            <td></td>
        </tr>
        <tr></tr>
        <thead>
            <th colspan="5">DOMICILIO</th>
        </thead>
        <tr>
            <td>Direccion</td>
            <td></td>
        </tr>
        <tr>
            <td>Localidad</td>
            <td></td>
            <td>Codigo postal</td>
            <td></td>
            <td>Provincia</td>
            <td></td>
        </tr>
        <tr></tr>
        <thead>
            <th colspan="5">CURSO ACTUAL</th>
        </thead>
        <tr></tr>
        <tr>
            <td>Curso</td>
            <td></td>
            <td></td>
            <td>Especializacion</td>
            <td></td>
        </tr>
        <tr>
            <td>Escuela de origen</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <thead>
            <th colspan="5">TUTOR</th>
        </thead>
        <tr></tr>
        <tr>
            <td>Nombre</td>
            <td></td>
            <td></td>
            <td>apellido</td>
            <td><Atd>
        </tr>
        <tr>
            <td>DNI</td>
            <td></td>
            <td></td>
            <td>CUIL</td>
            <td></td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td></td>
            <td></td>
            <td>Mail</td>
            <td></td>
        </tr>
        </table>
    </div>
    </div>
</div>
</div>

<script src="/assets/js/ui.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/filtros.js"></script>
<script src="/assets/js/matriz.js"></script>

<!--  Alumnos desde la DB  -->
<script src="/assets/js/controllers/alumnos.js"></script>

</body>
</html>