<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | E.E.S.T N°4</title>
    <link rel="icon" href="/assets/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/matriz.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <link rel="stylesheet" href="/assets/css/btn.css">
    <link rel="stylesheet" href="/assets/css/tablas.css">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form>
            <input class="user-container" type="text" id="user" placeholder="Nombre de Usuario" required>

            <div class="password-container">
                <input type="password" id="password" placeholder="Contraseña" required>
                <span class="toggle-password" onclick="togglePassword()">Mostrar</span>
            </div>

            <button type="submit">Ingresar</button>
            <p class="error" id="error-msg"></p>
        </form>
    </div>
    <script src="/assets/js/ui.js"></script>
</body>
</html>
