<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla y Modal de Alumnos</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/matriz.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <link rel="stylesheet" href="/assets/css/btn.css">
    <link rel="stylesheet" href="/assets/css/tablas.css">
</head>
<body>

    <div class="container-busqueda">
        <div class="buscador-container">
            <input class="buscador" type="text" id="searchInput" placeholder="Buscar alumno..." />
        </div>

        <div class="filtro-container">
            <select class="filtro" id="grado">
            <option value="">Todos</option>
            <option value="1°">1°</option>
            <option value="2°">2°</option>
            <option value="3°">3°</option>
            </select>
        </div>
    </div>

    <table id="alumnosTable" class="tabla">
        <thead>
            <tr>
            <th>Id</th>
            <th>INombre/th>
            <th>Descripción</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!--  Se rellena la tabla desde la DB  -->
        </tbody>
    </table>

    <!-- Modal -->
    <div id="modalAlumno" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="cerrarModal()">&times;</span>
        </div>
    </div>

<script src="/assets/js/ui.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/filtros.js"></script>
<script src="/assets/js/matriz.js"></script>

</body>
</html>